Repository JCSDA-internal/soca, pull requests merged in 2023-12, with the labels that each got.

#979 Update time window configuration
  test/testinput/3dhyb.yml
  test/testinput/3dhybfgat.yml
  test/testinput/3dvar_godas.yml
  test/testinput/3dvar_single_ob.yml
  test/testinput/3dvar_soca.yml
  test/testinput/3dvar_zero_ob.yml
  test/testinput/3dvarbump.yml
  test/testinput/3dvarfgat.yml
  test/testinput/3dvarfgat_pseudo.yml
  test/testinput/3dvarlowres_soca.yml
  test/testinput/4denvar.yml
  test/testinput/4dhybenvar.yml
  test/testinput/enshofx_1.yml
  test/testinput/enshofx_2.yml
  test/testinput/enshofx_3.yml
  test/testinput/getvalues.yml
  test/testinput/hofx_3d.yml
  test/testinput/hofx_4d.yml
  test/testinput/hofx_4d_pseudo.yml
  test/testinput/hofx_oasim_3d.yml
  test/testinput/letkf.yml
  test/testinput/letkf_split_observer.yml
  test/testinput/letkf_split_solver.yml
  test/testinput/makeobs.yml
  test/testinput/obslocalization.yml
  test/testinput/obslocalization_vertical.yml
  test/testinput/obslocalizations.yml
Labels: coordinate merge, SOCA

#983 Add mesh connectivity in atlas
  src/soca/Covariance/soca_covariance_mod.F90
  src/soca/Fields/soca_fields_mod.F90
  src/soca/Geometry/Geometry.cc
  src/soca/Geometry/Geometry.h
  src/soca/Geometry/GeometryFortran.h
  src/soca/Geometry/soca_geom.interface.F90
  src/soca/Geometry/soca_geom_mod.F90
  src/soca/Increment/Increment.cc
  src/soca/Increment/Increment.h
  src/soca/Increment/IncrementFortran.h
  src/soca/Increment/soca_increment.interface.F90
  src/soca/LinearVariableChange/HorizFilt/soca_horizfilt_mod.F90
  src/soca/State/State.cc
  test/CMakeLists.txt
  test/testinput/gridgen.yml
  test/testref/3dhyb.test
  test/testref/3dhybfgat.test
  test/testref/3dvar_godas.test
  test/testref/3dvar_soca.test
  test/testref/3dvarbump.test
  test/testref/3dvarfgat.test
  test/testref/3dvarfgat_pseudo.test
  test/testref/3dvarlowres_soca.test
  test/testref/4denvar.test
  test/testref/4dhybenvar.test
  test/testref/addincrement.test
  test/testref/checkpointmodel.test
  test/testref/convertincrement.test
  test/testref/convertstate_soca2cice.test
  test/testref/hofx_3d.test
  test/testref/hofx_4d.test
  test/testref/hofx_4d_pseudo.test
  test/testref/letkf.test
  test/testref/letkf_split_observer.test
  test/testref/letkf_split_solver.test
Labels: waiting for another PR

#986 update yamls to adapt to oops/pull/2434
  test/testinput/3dhyb.yml
  test/testinput/3dhybfgat.yml
  test/testinput/3dvar_godas.yml
  test/testinput/3dvar_single_ob.yml
  test/testinput/3dvar_soca.yml
  test/testinput/3dvarfgat.yml
  test/testinput/3dvarlowres_soca.yml
Labels: waiting for another PR, SOCA

#982 Adapt to saber block interface change
  src/soca/ExplicitDiffusion/ExplicitDiffusion.cc
  src/soca/ExplicitDiffusion/ExplicitDiffusion.h
Labels: ALGO, SOCA
